# ----------------------------------------------------------------
# secrets
k3s_deployments/juypter/juypter-secret.yaml
k3s_deployments/postgres/postgres-secret.yaml

# ----------------------------------------------------------------
# Permanently ignored common files
.venv
.env
adta*/
utilities/scratch.py
.DS_STORE
__pycache__/

# ----------------------------------------------------------------
# Temp files
k3s_deployments/
data/